<h1>Step 3</h1>
@if (ViewBag.TopFiveQuery != null)
{

    foreach (var item in ViewBag.TopFiveQuery)
    {
        <div>
            <span><b>Date Searched: </b>@item.Time</span>
        </div>
        <div>
            <span><b>Query: </b>@item.QueryText</span>
        </div>
        <div>
            <span><b>Title: </b>@item.title</span>
            <span><b>Date: </b>@item.creationDate</span>
            <span><b>Count: </b>@item.answerCount</span>
            <span><b>Name: </b>@item.displayName</span>
        </div>
        <div>
            <img src="@item.profileImage" />
        </div>
        <div>
            <b>Answer: </b><a href="@item.link" target="_blank">@item.link</a>
        </div>
        <hr /><br />
    }
}
else
{
    <h3>No Results.</h3>
}
@using (Html.BeginForm("Step3", "Home", FormMethod.Get))
{
    <button type="submit" class="btn btn-default">Refresh history</button>
}

